<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Shackleton" Language="1033" Version="1.0.0.0" Manufacturer="SharpBlue" UpgradeCode="a7d20ffd-8aab-412e-81fe-d3e176c327b9">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [Shackleton] is already installed." />
    
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Shackleton" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Shackleton">
          <!-- Place your EXE and DLLs here -->
          <Component Id="MainExecutable" Guid="a7d20ffd-8aab-412e-81fe-d3e176c327b9">
            <File Id="YourAppExe" Source="build\windows\runner\Release\shackleton.exe" KeyPath="yes" />
          </Component>
          <Component Id="DllComponent1" Guid="a7d20ffd-8aab-412e-81fe-d3e176c327b9">
            <File Id="Dll1" Source="build\windows\runner\Release\flutter_windows.dll" />
          </Component>
          <Component Id="DllComponent2" Guid="a7d20ffd-8aab-412e-81fe-d3e176c327b9">
            <File Id="Dll2" Source="build\windows\runner\Release\irondash_engine_context_plugin.dll" />
          </Component>
          <Component Id="DllComponent3" Guid="a7d20ffd-8aab-412e-81fe-d3e176c327b9">
            <File Id="Dll3" Source="build\windows\runner\Release\pdfium.dll" />
          </Component>
          <Component Id="DllComponent4" Guid="a7d20ffd-8aab-412e-81fe-d3e176c327b9">
            <File Id="Dll4" Source="build\windows\runner\Release\super_native_extensions.dll" />
          </Component>
          <Component Id="DllComponent5" Guid="a7d20ffd-8aab-412e-81fe-d3e176c327b9">
            <File Id="Dll5" Source="build\windows\runner\Release\super_native_extensions_plugin.dll" />
          </Component>
          <Component Id="DllComponent6" Guid="a7d20ffd-8aab-412e-81fe-d3e176c327b9">
            <File Id="Dll6" Source="build\windows\runner\Release\syncfusion_pdfviewer_windows_plugin.dll" />
          </Component>
          <Component Id="DllComponent7" Guid="a7d20ffd-8aab-412e-81fe-d3e176c327b9">
            <File Id="Dll7" Source="build\windows\runner\Release\url_launcher_windows_plugin.dll" />
          </Component>
          <!-- Add more components for each DLL -->
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>

